.hero {
  background-image: url("/home/tablet/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 1024px) {
  .hero {
    background-image: url("/home/desktop/image-hero.jpg");
  }
}